*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.coming-soon{
    width: 100%;
    height: 100vh;
    background: url(../images/sl_120320_38530_05.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media screen and (max-width:425px) {
    .coming-soon{

    }
}